<strong>Olá, {{ provider}}</strong>
<p>
  <strong>CLiente: </strong>{{ user}} <br />
  <strong>Data/Hora: </strong>{{ date }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
